source/reporting/arco.xsd

<?xml version='1.0'?>
<!--

#___INFO__MARK_BEGIN__
##########################################################################
#
#  The Contents of this file are made available subject to the terms of
#  the Sun Industry Standards Source License Version 1.2
#
#  Sun Microsystems Inc., March, 2001
#
#
#  Sun Industry Standards Source License Version 1.2
#  =================================================
#  The contents of this file are subject to the Sun Industry Standards
#  Source License Version 1.2 (the "License"); You may not use this file
#  except in compliance with the License. You may obtain a copy of the
#  License at http://gridengine.sunsource.net/Gridengine_SISSL_license.html
#
#  Software provided under this License is provided on an "AS IS" basis,
#  WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING,
#  WITHOUT LIMITATION, WARRANTIES THAT THE SOFTWARE IS FREE OF DEFECTS,
#  MERCHANTABLE, FIT FOR A PARTICULAR PURPOSE, OR NON-INFRINGING.
#  See the License for the specific provisions governing your rights and
#  obligations concerning the Software.
#
#  The Initial Developer of the Original Code is: Sun Microsystems, Inc.
#
#  Copyright: 2001 by Sun Microsystems, Inc.
#
#  All Rights Reserved.
#
##########################################################################
#___INFO__MARK_END__

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
           jxb:extensionBindingPrefixes="xjc"           
	        jxb:version="1.0">
 <xs:annotation><xs:appinfo>
   <jxb:globalBindings generateIsSetMethod="true">
      <xjc:serializable/>
   </jxb:globalBindings>
 </xs:appinfo></xs:annotation>

 <!--  ======   Configuration ============================================== -->

 <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>      
        <xs:element name="database" type="DatabaseType" minOccurs="1" maxOccurs="unbounded"/>   
        <xs:element name="applUser" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="storage" type="StorageType"/>
      </xs:sequence>
    </xs:complexType>
 </xs:element>
 
 <xs:element name="Logging">
    <xs:complexType>
        <xs:sequence>
             <xs:element name="filter" type="LoggingFilter" minOccurs='0' maxOccurs='unbounded'/>
        </xs:sequence>  
        <xs:attribute name="level" type="xs:string"/>
    </xs:complexType>
 </xs:element>
 
 <xs:complexType name="LoggingFilter">
    <xs:attribute name="classPattern" type="xs:string"/>
    <xs:attribute name="methodPattern" type="xs:string"/>
    <xs:attribute name="level" type="xs:string"/>
    <xs:attribute name="active" type="xs:boolean"/>
 </xs:complexType>
 
 <xs:complexType name="StorageType">
    <xs:sequence>
       <xs:element name="root" type="xs:string"/>
       <xs:element name="queries" type="xs:string"/>
       <xs:element name="results" type="xs:string"/>
    </xs:sequence>
 </xs:complexType>

 <xs:complexType name="DatabaseType">
   <xs:sequence>
     <xs:element name="driver" type="DriverType"/>
     <xs:element name="user"   type="UserType"/>
   </xs:sequence>
   <xs:attribute name="name" type="xs:string"/>
   <xs:attribute name="host" type="xs:string"/>
   <xs:attribute name="port" type="xs:int"/>
   <xs:attribute name="schema" type="xs:string"/>
   <xs:attribute name="clusterName" type="xs:string" />
 </xs:complexType>

 <xs:complexType name="DriverType">
    <xs:sequence>
       <xs:element name="javaClass" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string"/>
 </xs:complexType>

 <xs:complexType name="UserType">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="passwd" type="xs:string"/>
    <xs:attribute name="maxConnections" type="xs:int"/>
 </xs:complexType>

 <!--  ======    Query  ===================================================  -->
 
 <xs:complexType name="NamedObject">
     <xs:sequence>
        <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:sequence>
     <xs:attribute name="clusterIndex" type="xs:int" />  
     <xs:attribute name="name" type="xs:string"/>
     <xs:attribute name="imgURL" type="xs:string"/>
     <xs:attribute name="category" type="xs:string"/>
     <xs:attribute name="type" type="xs:string"/>
     <xs:attribute name="lastModified" type="xs:long"/>
     <xs:attribute name="version" type="xs:int"/>    
 </xs:complexType>
 
 <xs:complexType name="TOCEntry">
    <xs:complexContent>
      <xs:extension base="NamedObject">
         <xs:attribute name="file" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
 </xs:complexType>
 
 
 <xs:element name="toc">
   <xs:complexType>
      <xs:sequence>
         <xs:element name="entry" type="TOCEntry" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
 </xs:element>
 
 <xs:complexType name="ReportingObject">
    <xs:complexContent>
      <xs:extension base="NamedObject">
        <xs:sequence>
           <xs:element name="view" type="ViewConfiguration" minOccurs="0" maxOccurs="1"/>            
        </xs:sequence>
        <xs:attribute name="limit" type="xs:int"/>
       </xs:extension>
     </xs:complexContent>
 </xs:complexType>

  <xs:complexType name="QueryType">
   <xs:complexContent>
     <xs:extension base="ReportingObject">
       <xs:sequence>
        <xs:element name="field" type="Field"  minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="filter" type="Filter" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="sql" type="xs:string" minOccurs="0" maxOccurs="1"/>
       </xs:sequence>
       <xs:attribute name="tableName" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
 </xs:complexType>
  
 <xs:element name="Query" type="QueryType">
  </xs:element>


 <xs:complexType name='Field' >
   <xs:attribute name="dbName" type="xs:string" use='optional'/>
   <xs:attribute name="reportName"  type="xs:string" use='optional'/>
   <xs:attribute name="parameter"   type="xs:string" use='optional'/>
   <xs:attribute name='function'    type="Function" use='optional' default='VALUE'/>
   <xs:attribute name="sort"        type="Sort"     use="optional"/>
 </xs:complexType>

 <xs:complexType name="Filter">
   <xs:attribute name="condition" type="xs:string" use='optional'/>
   <xs:attribute name="name"      type="xs:string" use='optional'/>
   <xs:attribute name="parameter" type="xs:string" use='optional'/>
   <xs:attribute name='active' type="xs:boolean" use='optional' default='true'/>
   <xs:attribute name="lateBinding" type="xs:boolean" use="optional" default="false"/>
   <xs:attribute name="logicalConnection" type="LogicalConnection"/>
   <!--
      startOffset and endOffset is used for Advanced Query. These two
      variables marks the position of the late binding statement in
      the sql text
   -->
   <xs:attribute name="startOffset" type="xs:int"/>
   <xs:attribute name="endOffset" type="xs:int"/>
 </xs:complexType>

 <xs:simpleType name="LogicalConnection">
     <xs:restriction base="xs:string">
      <xs:enumeration value='and'/>
      <xs:enumeration value='or'/>
    </xs:restriction>
 </xs:simpleType>

 <xs:simpleType name="Function">
     <xs:restriction base="xs:string">
      <xs:enumeration value='VALUE'/>
      <xs:enumeration value='COUNT'/>
      <xs:enumeration value='MAX'/>
      <xs:enumeration value='MIN'/>
      <xs:enumeration value='SUM'/>
     </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="Sort">
   <xs:restriction base="xs:string">
     <xs:enumeration value="ASC"/>
     <xs:enumeration value="DESC"/>
   </xs:restriction>
 </xs:simpleType>

 <xs:complexType name="ViewConfiguration">
  <xs:sequence>
   <xs:element name="description" type="vstring" minOccurs="0" maxOccurs="1"/>
   <xs:element name="parameter" type="vstring" minOccurs="0" maxOccurs="1"/>
   <xs:element name="sql" type="vstring" minOccurs="0" maxOccurs="1"/>
   <xs:element name='graphic' type="Graphic" minOccurs="0" maxOccurs="1"/>
   <xs:element name='pivot' type="Pivot" minOccurs="0" maxOccurs="1"/>
   <xs:element name='table' type="Table" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
 </xs:complexType>
 
 <xs:complexType name="vstring">  
   <xs:sequence>
     <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1"/>         
   </xs:sequence>
   <xs:attribute name='visible' type="xs:boolean" default="false"/>
 </xs:complexType>
 
<xs:complexType name="ViewElement">
   <xs:attribute name='order' type="xs:int"/>
   <xs:attribute name='visible' type="xs:boolean" default="false"/>   
</xs:complexType>

<xs:complexType name="Graphic">
  <xs:complexContent>
    <xs:extension base="ViewElement">
       <xs:sequence>
        <xs:element name="chart" type="Chart" minOccurs="0" maxOccurs="1"/>
        <xs:element name='bar' type="Bar" minOccurs="0" maxOccurs="1"/>
        <xs:element name='line' type="Line" minOccurs="0" maxOccurs="1"/>
        <xs:element name='pie' type="Pie" minOccurs="0" maxOccurs="1"/>
        <xs:element name='stackedline' type="StackedLine" minOccurs="0" maxOccurs="1"/>
       </xs:sequence>
       <xs:attribute name='legendVisible' type="xs:boolean" use='optional' default='true'/>
     </xs:extension>
   </xs:complexContent>
</xs:complexType>

<xs:complexType name="Chart">
   <xs:sequence>
      <xs:element name="xaxis" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="seriesFromColumns" type="SeriesFromColumns" minOccurs="0" maxOccurs="1"/>
      <xs:element name="seriesFromRow" type="SeriesFromRow" minOccurs="0" maxOccurs="1"/>
   </xs:sequence>
   <xs:attribute name="type" type="xs:string"/>
   <!--  Comes the data from row or columns -->
   <xs:attribute name="seriesType" type="xs:string"/>
   <!-- Options for Pie charts -->
   <xs:attribute name='labelsVisible' type="xs:boolean" use='optional' default='true'/>
</xs:complexType>

<xs:complexType name="SeriesFromColumns">
   <xs:sequence>
     <xs:element name="column" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
</xs:complexType>

<xs:complexType name="SeriesFromRow">
   <xs:sequence>
     <xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1"/>
     <xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1"/>
   </xs:sequence>
</xs:complexType>

<xs:complexType name="Bar">
   <xs:sequence>
      <xs:element name="xaxis" type="xs:string" minOccurs="0" maxOccurs="4"/>
      <xs:element name="yaxis" type="xs:string" minOccurs="0" maxOccurs="1"/>
   </xs:sequence>
</xs:complexType>

<xs:complexType name="Line">
 <xs:sequence>
  <xs:element name='xaxis' type="xs:string"/>
  <xs:element name='yaxis' type="xs:string"/>
  <xs:element name='type'  type="xs:string" minOccurs="0" maxOccurs="1"/>
 </xs:sequence>
</xs:complexType>

<xs:complexType name="Pie">
 <xs:sequence>
  <xs:element name='xaxis' type="xs:string"/>
  <xs:element name='yaxis' type="xs:string"/>
 </xs:sequence>
  <xs:attribute name='labelsVisible' type="xs:boolean" use='optional' default='true'/>
</xs:complexType>

<xs:complexType name="StackedLine">
 <xs:sequence>
  <xs:element name='xaxis' type="xs:string"/>
  <xs:element name='yaxis' type="xs:string"/>
  <xs:element name="type"  type="xs:string"  minOccurs="0" maxOccurs="1"/>
 </xs:sequence>
</xs:complexType>

<xs:complexType name="Pivot">
  <xs:complexContent>
   <xs:extension base="ViewElement">
     <xs:sequence>
      <xs:element name='row' type="xs:string" minOccurs='0' maxOccurs='unbounded'/>
      <xs:element name='column' type="xs:string" minOccurs='0' maxOccurs='unbounded'/>
      <xs:element name='data' type="xs:string" minOccurs='0' maxOccurs='unbounded'/>
      <xs:element name='elem' type="PivotElement" minOccurs='0' maxOccurs='unbounded'/>
     </xs:sequence>
   </xs:extension>
  </xs:complexContent>
</xs:complexType>

  <xs:complexType name="FormattedValue">
   <xs:attribute name="name" type="xs:string"/>
   <xs:attribute name="type" type="xs:string"/>
   <xs:attribute name="format" type="xs:string"/>
  </xs:complexType>
  
  <xs:complexType name="PivotElement">
    <xs:complexContent>
      <xs:extension base="FormattedValue">
         <xs:attribute name="pivotType" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>  
  </xs:complexType>

  <xs:complexType name="Table">
    <xs:complexContent>
      <xs:extension base="ViewElement">
         <xs:sequence>
          <xs:element name='column' type="xs:string" minOccurs='0' maxOccurs='unbounded'/>
          <xs:element name='columnWithFormat' type="FormattedValue" minOccurs='0' maxOccurs='unbounded'/>
         </xs:sequence>
      </xs:extension>
    </xs:complexContent>      
  </xs:complexType>
  
  <!-- ====== Result ======================================================= -->
 
  <xs:element name="Result">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="QueryType">
           <xs:sequence>
               <xs:element name="sort" type="ResultSort" minOccurs='0' maxOccurs='unbounded'/>
               <xs:element name="column" type="ResultColumn" minOccurs='0' maxOccurs='unbounded'/>
               <xs:element name="row" type="ResultRow" minOccurs='0' maxOccurs='unbounded'/>
           </xs:sequence>
           <xs:attribute name="rowCount" type="xs:int"/>
           <xs:attribute name="colCount" type="xs:int"/>           
        </xs:extension>
       </xs:complexContent>
    </xs:complexType>
  </xs:element>

<xs:complexType name="ResultSort">
   <xs:attribute name="field" type="xs:string"/>
   <xs:attribute name="directory" type="xs:string"/>
</xs:complexType>

<xs:complexType name="ResultColumn">
  <xs:attribute name="name" type="xs:string"/>
  <xs:attribute name="type" type="xs:string"/>
  <xs:attribute name="index" type="xs:int"/>
</xs:complexType>

<xs:complexType name="ResultRow">
   <xs:sequence>
      <xs:element name="value" type="xs:string" minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
</xs:complexType>
  
  
</xs:schema>
